/*base*/



* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';
}

:root {
    --accent-color: #26ddb1;
    --text-color: #3d3b3b;
    --grey-color: #8c9091;
    --background-color: #fff;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/*nav*/
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 150px;
}

.nav_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav_menu li {
    padding: 8px 20px;
    font-size: 1rem;
}

.nav_menu li:hover {
    color: var(--background-color);
    font-weight: bold;
}

/*header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 15%;
    max-height: 100px;
    position: relative;
}

/*검색창*/
.search-box {
    width: 34%;
    min-width: 300px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    padding: 4px 10px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 999;
    background-color: var(--background-color);
}

.search-input {
    display: flex;
    align-items: center;
}

.hide {
    display: none !important;	/* 사용자가 아무것도 입력하지 않았을 때 검색창을 숨기는 용도*/
}

.list {
    display: flex;
    flex-direction: column;
    /*display: none;*/
}

.list li {
    width: 100%;
    padding: 5px 10px;
    color: var(--grey-color);
    list-style: none;
}

.find{
    outline: none;
    font-size: 16px;
    border: none;
    padding: 10px 3%;
    width: 100%;
}

.search-box img{
    width: 28px;
    height: 28px;
}

.search p{
    padding: 8px 12px;
    text-decoration: underline;
    float: right;
    font-size: 14px;
}



/*우측 아이콘*/

.icons {
    width: 180px;
    display: flex;
    justify-content: space-around;
}

.icons img {
    height: 32px;
}

/*메인 이미지 슬라이드*/

.Slidesbackground {
    margin: 0;
    padding: 0;

}
.slideshow-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mySlides {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    padding: 0 12%;
    padding-bottom: 5%;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*차트 text*/

.chart-text {
    margin-top: 2%;
    padding: 0 14%;
}

.chart-text h3 {
    font-size: 24px;
    font-weight: 900;
    color: var(--text-color);
}

.chart-text p {
    margin-top: 1%;
    font-size: 16px;
    color: var(--grey-color);
}



/*cards*/

section {
    display: flex;
    padding: 2% 12%;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}
.wrapper #left,
.wrapper #right{
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper #left:active,
.wrapper #right:active{
    transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
    left: -22px;
}
.wrapper i:last-child{
    right: -22px;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border: 1px solid #ededed;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    align-items: flex-start;
}
.carousel .card .img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

}
.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*card text content*/

.card .card-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.carousel .card h3 {
    font-weight: 700;
    font-size: 1.1rem;
    margin: 4px 0 0 5px;
}

.carousel .card .card-title span {
    color: #6A6D78;
    font-size: 0.9rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.little-title1 {
    color: #6A6D78;
    font-size: 0.9rem;
    padding-left: 2.4%;
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.little-title2 {
    color: #6A6D78;
    font-size: 0.9rem;
    padding-left: 3%;
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.d-day {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: #fff;
    margin-right: 6%;
    margin-top: 2%;
    padding: 1.5% 4%;
    height: 40%;
    border-radius: 18px;
    font-weight: 700;
    font-size: 1rem;

}

/*찜 버튼*/

.circle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #c9c9c9;
    opacity: 0.7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*cards 반응형*/

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

