<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="veiwport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Detail</title>
</head>
<body>
<nav class="navbar">
    <div class="navbar__logo">
        <img src="/img/logo.png" alt="logo" class="logoImg" onclick="moveMain()">
    </div>
    <ul class="navbar__menu">
        <li class="navbar__menu__item">로그아웃</li>
        <li class="navbar__menu__item" onclick="moveMypage()">결과확인</li>
        <li class="navbar__menu__item" onclick="moveMypage()">마이페이지</li>
        <li class="navbar__menu__item">고객센터</li>
    </ul>
</nav>
<div id="header" class="header">
    <div id="prog_menu" class="prog_nav">
        <ul class="progitemWrapper">
            <li class="progitemText" id="current">01.상세정보</li>
            <li class="bar"> - </li>
            <li class="progitemText" >02.좌석선택</li>
            <li class="bar"> - </li>
            <li class="progitemText">03.결제하기</li>
        </ul>
    </div>
</div>
<div class="contents">
    <div class="summaryTop">
        <div class="title">
            <h2 class="d-day">[D-2]</h2>
            <h2 id="searchResult" class="prdTitle">라우브 내한공연 (Lauv in Seoul)</h2>
        </div>
        <ul class="titleinfo">
            <li class="dateinfo">2023.08.29</li>
            <li class="section">|</li>
            <li class="placeinfo">KSPO DOME(올림픽체조경기장)</li>
        </ul>
    </div>
    <div class="productWrapper">
        <div class="productMain">

            <div class="productMainTop">
                <div class="posterBox">
                    <img class="posterBoxImage" src="/img/Poster_Lauv.png" alt="라우브 내한공연 (Lauv in Seoul)">
<!--                    <div id="likeBtn" class="circle-button">
                        <i id="emptyHeart" class="fa-regular fa-heart fa-lg" style="color: #ffffff; display: flex;"></i>
                        <i id="fillHeart" class="fa-solid fa-heart fa-lg" style="color: #ffffff; display: none;"></i>
                    </div>-->
                </div>
                <div class="information">
                    <ul class="info">
                        <li class="infoItem">
                            <p class="infoLabel">관람연령</p>
                            <p class="infoText" id="veiwing_age">만 12세 이상</p>
                        </li>
                        <li class="infoItem">
                            <p class="infoLabel">관람시간</p>
                            <p class="infoText" id="veiwing_time">총 80분</p>
                        </li>
                        <li class="infoItem">
                            <p class="infoLabel">출연</p>
                            <p class="infoText" id="concertPerformer">라우브</p>
                        </li>
                        <li class="infoItem">
                            <p class="infoLabel">가격</p>
                            <ul class="infoPriceList">
                                <li class="infoPriceItem">
                                    <span class="name" id="Seat0">P석</span>
                                    <span class="price" id="Price0">154,000원</span>
                                </li>
                                <li class="infoPriceItem">
                                    <span class="name" id="Seat1">P석</span>
                                    <span class="price" id="Price1">154,000원</span>
                                </li>
                                <li class="infoPriceItem">
                                    <span class="name" id="Seat2">스탠딩석</span>
                                    <span class="price" id="Price2">154,000원</span>
                                </li>
                                <li class="infoPriceItem">
                                    <span class="name" id="Seat3">R석</span>
                                    <span class="price" id="Price3">154,000원</span>
                                </li>
                                <li class="infoPriceItem">
                                    <span class="name" id="Seat4">S석</span>
                                    <span class="price" id="Price4">154,000원</span>
                                </li>
                                <li class="infoPriceItem">
                                    <span class="name" id="Seat5">석</span>
                                    <span class="price" id="Price5">154,000원</span>
                                </li>
                                <li class="infoPriceItem">
                                    <span class="name" id="Seat6">석</span>
                                    <span class="price" id="Price6">154,000원</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
<!--            <div class="productMainBody">-->
<!--                <div class="realInfo">상세정보</div>-->
<!--                    <p>-->
<!--                        하이하이-->
<!--                    </p>-->
<!--            </div>-->
        </div>
        <div class="productSide">
            <div class="sideMain">
                <div class="sideContainer">
                    <div class="sideHeader">
                        <h4 class="sideTitle"></h4>
                        <div class="selectedData">
                            <span class="date"></span>
                        </div>
                    </div>
                    <div class="sideContent">
                        <div class="sideCalendar">
                            <div class="datepicker"></div>
                                <div class="calendar">
                                    <table id="calendar">
                                        <tr class="weeklist">
                                            <td class="premonth"><label class="click"><</label></td>
                                            <td id="tbCalendarYM" class="thismonth" colspan="3">
                                                yyyy. mm</td>
                                            <td class="nextmonth"><label class="click" >></label></td>
                                        </tr>
                                        <tr class="week">
                                            <td class="day">일</td>
                                            <td class="day">월</td>
                                            <td class="day">화</td>
                                            <td class="day">수</td>
                                            <td class="day">목</td>
                                            <td class="day">금</td>
                                            <td class="day">토</td>
                                        </tr>

                                    </table>
                                </div>
                        </div>
                    </div>
                    <div class="sideBottom">
                        <div class="sideBottomHeader">
                            <a class="sideBottomHeaderTitle" href="#">관람시간 상세></a>
                        </div>
                        <div class="sideBottomContent">
                            <div class="timeInfo">
                                <a class="timeInfoBtn" href="#"></a>
                            </div>
                            <div class="timeTableLabel_toggled">
                                <button class="timeTableBtn">1회 17:00</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sideBtnWrap">
                <button id="goRaffle" class="reserve_btn">응모하기</button>
            </div>
        </div>
    </div>
</div>


<script src="/js/searchresult.js"></script>
<script src="/js/detail.js"></script>


</body>
</html>