<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>main</title>
</head>
<body>
<nav class="navbar">
    <ul class="nav_menu">
        <li><a href="#" class="menu1">로그아웃</a></li>
        <li><a href="mypage.html" class="menu1">결과확인</a></li>
        <li><a href="mypage.html" class="menu1">마이페이지</a></li>
        <li><a href="#" class="menu1">고객센터</a></li>
    </ul>
</nav>
<header class="header">
    <div>
        <img src="/img/logo.png" alt="koun" width="130px">
    </div>
    <div class="search-box">
        <div class="search-input">
            <input type="text" id="search" class="find" placeholder="무슨 공연을 찾으시나요?">
            <img src="/img/search.png" alt="검색">
        </div>
        <div class="list">
            <ul class="rel-list"></ul>
        </div>
    </div>
    <div class="icons">
        <img src="/img/alarm.png" alt="알람">
        <img class="goMyPage" src="/img/heart.png" alt="찜">
        <img class="goMyPage" src="/img/mypageicon.png" alt="사람">
    </div>
</header>
<main class="slideshow-container">
    <div class="Slidesbackground">
        <div class="mySlides fade">
            <img src="/img/main1.png" alt="메인" class="slideshow-image">
        </div>
        <div class="mySlides fade">
            <img src="/img/main2.png" alt="메인" class="slideshow-image">
        </div>
        <div class="mySlides fade">
            <img src="/img/main3.png" alt="메인" class="slideshow-image">
        </div>
    </div>
</main>
<div class="chart-text">
    <h3>신규 Top10</h3>
    <p>새롭고 다양한 공연을 확인해보세요</p>
</div>
<section>
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <ul class="carousel">
            <li class="card">
                <div class="img">
                    <img src="https://ticketimage.interpark.com/Play/image/large/23/23007654_p.gif" alt="img" draggable="false">
<!--                    <div id="likeBtn" class="circle-button">-->
<!--                        <i id="emptyHeart" class="fa-regular fa-heart fa-lg" style="color: #ffffff; display: flex;"></i>-->
<!--                        <i id="fillHeart" class="fa-solid fa-heart fa-lg" style="color: #ffffff; display: none;"></i>-->
<!--                    </div>-->

                </div>
                <div class="card-title">
                    <div>
                        <h3>2023 샘스미스 내한공연</h3>
                        <span>GLORIA the tour</span>
                    </div>
                    <div class="d-day">
                        <p>D-1</p>
                    </div>
                </div>
                <span class="little-title1"><img src="/img/location.png" alt="">KSPO DOME</span>
                <span class="little-title2"><img src="/img/calendar.png" alt="">2023.10.17</span>
            </li>
            <li class="card">
                <div class="img">
                    <img src="https://ticketimage.interpark.com/Play/image/large/23/23007291_p.gif" alt="img" draggable="false">
                </div>
                <div class="card-title">
                    <div>
                        <h3>싸이 흠뻑쇼 -부산</h3>
                        <span>SUMMERSWAG</span>
                    </div>
                    <div class="d-day">
                        <p>D-3</p>
                    </div>
                </div>
                <span class="little-title1"><img src="/img/location.png" alt="">부산 아시아드 보조경기장</span>
                <span class="little-title2"><img src="/img/calendar.png" alt="">2023.08.26</span>
            </li>
            <li class="card">
                <div class="img">
                    <img src="https://ticketimage.interpark.com/Play/image/large/23/23011026_p.gif" alt="img" draggable="false">
                </div>
                <div class="card-title">
                    <div>
                        <h3>2023 김동률 콘서트</h3>
                        <span>Melody</span>
                    </div>
                    <div class="d-day">
                        <p>D-2</p>
                    </div>
                </div>
                <span class="little-title1"><img src="/img/location.png" alt="">KSPO DOME</span>
                <span class="little-title2"><img src="/img/calendar.png" alt="">2023.10.07</span>
            </li>
            <li class="card">
                <div class="img">
                    <img src="https://ticketimage.interpark.com/Play/image/large/23/23011003_p.gif" alt="img" draggable="false">
                </div>
                <div class="card-title">
                    <div>
                        <h3>2023 검정치마 앵콜 공연</h3>
                        <span>Endless/Summer</span>
                    </div>
                    <div class="d-day">
                        <p>D-4</p>
                    </div>
                </div>
                <span class="little-title1"><img src="/img/location.png" alt="">블루스퀘어 마스터카드홀</span>
                <span class="little-title2"><img src="/img/calendar.png" alt="">2023.08.25</span>
            </li>
            <li class="card">
                <div class="img">
                    <img src="https://ticketimage.interpark.com/Play/image/large/23/23010652_p.gif" alt="img" draggable="false">
                </div>
                <div class="card-title">
                    <div>
                        <h3>2PM 15th Concert</h3>
                        <span>It’s 2PM</span>
                    </div>
                    <div class="d-day">
                        <p>D-1</p>
                    </div>
                </div>
                <span class="little-title1"><img src="/img/location.png" alt="">잠실실내체육관</span>
                <span class="little-title2"><img src="/img/calendar.png" alt="">2023.09.09</span>
            </li>
            <li class="card">
                <div class="img">
                    <img src="https://ticketimage.interpark.com/Play/image/large/23/23009197_p.gif" alt="img" draggable="false">
                </div>
                <div class="card-title">
                    <div>
                        <h3>LE SSERAFIM TOUR</h3>
                        <span>FLAME RISES</span>
                    </div>
                    <div class="d-day">
                        <p>D-4</p>
                    </div>
                </div>
                <span class="little-title1"><img src="/img/location.png" alt="">잠실실내체육관</span>
                <span class="little-title2"><img src="/img/calendar.png" alt="">2023.09.12</span>
            </li>
            <li class="card">
            <div class="img">
                <img src="https://ticketimage.interpark.com/Play/image/large/23/23010177_p.gif" alt="img" draggable="false">
            </div>
            <div class="card-title">
                <div>
                    <h3>성시경 with friends</h3>
                    <span>자, 오늘은</span>
                </div>
                <div class="d-day">
                    <p>D-5</p>
                </div>
            </div>
            <span class="little-title1"><img src="/img/location.png" alt="">KSPO DOME</span>
            <span class="little-title2"><img src="/img/calendar.png" alt="">2023.09.02</span>
            </li>
            <li class="card">
                <div class="img">
                    <img src="https://ticketimage.interpark.com/Play/image/large/23/23011005_p.gif" alt="img" draggable="false">
                </div>
                <div class="card-title">
                    <div>
                        <h3>이문세의 숲속음악회</h3>
                        <span>열한 번째 이야기</span>
                    </div>
                    <div class="d-day">
                        <p>D-3</p>
                    </div>
                </div>
                <span class="little-title1"><img src="/img/location.png" alt="">봉평 허브나라</span>
                <span class="little-title2"><img src="/img/calendar.png" alt="">2023.09.09</span>
            </li>
            <li class="card">
                <div class="img">
                    <img src="https://ticketimage.interpark.com/Play/image/large/23/23011060_p.gif" alt="img" draggable="false">
                </div>
                <div class="card-title">
                    <div>
                        <h3>히사이시조 음악콘서트</h3>
                        <span>서울 앙코르</span>
                    </div>
                    <div class="d-day">
                        <p>D-1</p>
                    </div>
                </div>
                <span class="little-title1"><img src="/img/location.png" alt="">롯데콘서트홀</span>
                <span class="little-title2"><img src="/img/calendar.png" alt="">2023.10.03</span>
            </li>
            <li class="card">
                <div class="img">
                    <img src="https://ticketimage.interpark.com/Play/image/large/23/23009717_p.gif" alt="img" draggable="false">
                </div>
                <div class="card-title">
                    <div>
                        <h3>2023 영탁 단독 콘서트</h3>
                        <span>TAK SHOW2: TAK’S WORLD</span>
                    </div>
                    <div class="d-day">
                        <p>D-5</p>
                    </div>
                </div>
                <span class="little-title1"><img src="/img/location.png" alt="">KSPO DOME</span>
                <span class="little-title2"><img src="/img/calendar.png" alt="">2023.08.25</span>
            </li>
        </ul>

        <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
</section>
<script src="/js/main.js"></script>
<script src="/js/search.js"></script>
</body>
</html>

