<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>응모</title>
    <link rel="stylesheet" href="/css/raffle.css">
    <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <img src="/img/logo.png" alt="logo" class="logoImg" onclick="moveMain()">
        </div>
        <ul class="navbar__menu">
            <li class="navbar__menu__item">로그아웃</li>
            <li class="navbar__menu__item" onclick="moveMypage()">결과확인</li>
            <li class="navbar__menu__item" onclick="moveMypage()">마이페이지</li>
            <li class="navbar__menu__item">고객센터</li>
        </ul>
    </nav>
    <div id="header" class="header">
        <div id="prog_menu" class="prog_nav">
            <ul class="progitemWrapper">
                <li class="progitemText">01.상세정보</li>
                <li class="bar"> - </li>
                <li class="progitemText" id="current">02.좌석선택</li>
                <li class="bar"> - </li>
                <li class="progitemText">03.결제하기</li>
            </ul>
        </div>
    </div>
    <main>
        <section class="left-side">
            <div class="concert-info">
                <div class="title-place">
                    <h2 id="mainTitle">라우브 내한공연(Lauv In Seoul)</h2>
                    <p id="venue">잠실 종합운동장 주경기장</p>
                </div>
                <div class="time">
                    <h3>공연일시</h3>
                    <p id="dateTime">2023.08.31(목) 오후 6시</p>
                </div>
            </div>
            <div class="seat-container">
                <div class="seat-table">
                    <img src="/img/stage.png" alt="">
                    <div class="area-a">
                        <div class="area-info">
                            <h3 id="seat0">스탠딩 가</h3>
                            <p id="seatQuantity0">250석</p>
                        </div>
                        <p class="area-price" id="price0">160,000 원</p>
                    </div>

                    <div class="area-b">
                        <div class="area-info">
                            <h3 id="seat1">스탠딩 나</h3>
                            <p id="seatQuantity1">250석</p>
                        </div>
                        <p class="area-price" id="price1">160,000 원</p>
                    </div>
                    <div class="area-c">
                        <div class="area-info">
                            <h3 id="seat2">스탠딩 다</h3>
                            <p id="seatQuantity2">250석</p>
                        </div>
                        <p class="area-price" id="price2">120,000 원</p>
                    </div>
                    <div class="area-d">
                        <div class="area-info">
                            <h3 id="seat3">스탠딩 라</h3>
                            <p id="seatQuantity3">250석</p>
                        </div>
                        <p class="area-price" id="price3">120,000 원</p>
                    </div>
                    <div class="area-e">
                        <div class="area-info">
                            <h3 id="seat4">스탠딩 마</h3>
                            <p id="seatQuantity4">250석</p>
                        </div>
                        <p class="area-price" id="price4">130,000 원</p>
                    </div>
                    <div class="area-f">
                        <div class="area-info">
                            <h3 id="seat5">스탠딩 바</h3>
                            <p id="seatQuantity5">250석</p>
                        </div>
                        <p class="area-price" id="price5">130,000 원</p>
                    </div>
                    <div class="area-g">
                        <div class="area-info">
                            <h3 id="seat6">스탠딩 사</h3>
                            <p id="seatQuantity6">250석</p>
                        </div>
                        <p class="area-price" id="price6">120,000 원</p>
                    </div>
                </div>

            </div>
        </section>
        <section class="right-side">
            <div class="right-content">
                <img id="postimg" src="/img/poster.png" alt="">
                <div id="pay" class="pay-box">
                    <div class="select-seat">
                        <div class="select-area">
                            <h3>선택좌석</h3>
                            <p id="selectArea">스탠딩 가</p>
                        </div>
                        <div class="select-count">
                            <h3>매수</h3>
                            <div class="count-btn">
                                <button type="button" id="minusBtn" class="count">-</button>
                                <span id="ticketNum">1</span>
                                <button type="button" id="plusBtn" class="count">+</button>
                            </div>
                            <p id="maxNotice">*예약가능한 최대 매수는 2매입니다</p>
                        </div>
                    </div>
                    <div class="total-price">
                        <h3>최종결제금액</h3>
                        <p id="price">160,000 원</p>

                    </div>
                </div>
                <button id="payBtn" class="pay-btn">결제하기</button>
            </div>

        </section>
    </main>
    <script src="/js/raffle.js"></script>

</body>
</html>