<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resultPopup</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/css/resultPopup.css">

</head>
<body>
<div class="totalWrap">
  <div>
    <img src="/img/image%2087.png" alt="img" class="luckimg">

  </div>
  <nav class="navbar">
    <div class="navbar__logo">
      <img src="/img/logo.png" id="demo" alt="logo" class="logoImg" onclick="moveMain()">
    </div>
    <div class="resultTitle">응모결과</div>
  </nav>

  <div class="contents">
    <div class="concertInfo" id="nameInfo">
      <p class="title">공연정보</p>
      <p class="content" id="item_name">라우브 내한공연 (Lauv in Seoul)</p>
    </div>
    <div class="concertInfo" id="status/count">
      <p class="title">응모결과/매수</p>
      <p class="content" id="raffleStatus">당첨/1매</p>
    </div>
    <div class="concertInfo" id="day/place">
      <p class="title">공연일시</p>
      <p class="content" id="time">2023.06.17(토) 오후 8시</p>
    </div>
    <div class="concertInfo" id="section_name">
      <p class="title">좌석 정보</p>
      <p class="content" id="seat">스탠딩 가</p>
    </div>
<!--    <div class="concertInfo" id="section_rate">-->
<!--      <p class="title">경쟁률</p>-->
<!--      <p class="content" id="rate">1:100</p>-->
<!--    </div>-->
    <div class="concertInfo">
      <button onclick="moveMypage()">돌아가기</button>
    </div>
  </div>
</div>


<script src="/js/resultPopup.js"></script>

</body>
</html>